.btn {
  margin:5px 5px 5px 0px;
}
.deletebtn {
  color: red;
  font-size:10px;
}
.target-profile-img {
  margin-right:15px;
  /*height:100px;*/
  /*width:100px;*/
}
.target-profile{
  /*margin-top: 25px;*/
}
.centered {
  float:none;
  margin: 0 auto;
  width: 50%;
}

.target-image {
  margin-right: 10px;
}

.model-list-container {
  max-height: 400px;
  overflow: scroll;
}
.new-link {
  margin-left: 10px;
}
.detail-view {
  border-left: 4px solid rgba(0,0,0,0.3);
}
/*h2 {
  background-color: rgba(0,0,0,0.3);
}*/