.red {
  /*background-color: grey;*/
}
.btn {
  margin:5px 5px 5px 0px;
}
.deletebtn {
  color: red;
}
.target-profile-img {
  margin-right:15px;
  /*height:100px;*/
  /*width:100px;*/
}
.target-profile{
  /*margin-top: 25px;*/
}
.centered {
  float:none;
  margin: 0 auto;
  width: 50%;
}

.target-image {
  margin-right: 10px;
}